//Set header to a fixed position to always maintain on top
header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-content: center;
    
    width: 100%;
    height: $HeaderSize;
    position: fixed;
    padding: 0px 32px;

    background-color: $Black;
    z-index: 100;

    //Logo of website styles
    .Logo-Container {
        grid-column: 1;
        display: flex;
        align-items: center;
        @include DebugBorders(green);

        img {
            height: 40px;
        }
    }

    //Distribute the links to the right
    .Navigation-Container {
        grid-column: 2;
        justify-content: right;
        padding: 0 16px;
        @include DebugBorders(green);
        
        li {
            .Link {
                color: gray;
                font-weight: bold;
                user-select: none;
                cursor: pointer;
                transition: 1s;
            }
            
            .Link:hover {
                color: white;
                transition: 0s;
            }        

            &:not(:last-child) {
                margin-right: 16px;
            }
        }
    }

    //Icons section
    .Icons-Container {
        grid-column: 3;
        gap: 32px;
        @include DebugBorders(green);

        img {
            height: 24px;         
        }

        .Search-TextBox {
            display: none;
        }

        .Search-Icon {
            transform: translateY(2px);
            user-select: none;
            cursor: pointer;
        }

        #Burger-Icon {
            opacity: 0;
        }
    }
}

@media screen and (max-width: $ScreenMinWidth) {
    .Navigation-Container {
        display: none;
    }
}