.Contact-Page {
    section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-flow: dense;
        gap: 64px;

        .Cards-Container {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
    }

    form {
        display: flex;
        flex-direction: column;
        
        input[type="text"] {
            border-radius: $MinRadius;
            border: 2px solid gray;
        }
    }
}