.Home-Page
{
    .Banner-Container {
        height: calc(100vh - $HeaderSize);
        background-image: url("../../images/home-image.jpg");

        .Background-Black {
            position: absolute;
            width: inherit;
            height: inherit;
            background-color: black;
            opacity: 0.3;
        }

        button {
            z-index: 10;
        }
    }   
    
    .Services {    
        .Cards-Container {
            margin-top: 64px;

            .Card {
                border-radius: $MinBorderRadius;
                box-shadow: 0 0 30px $Shadow;
                overflow: hidden;
                transition: 0.5s;                                  

                img {             
                    display: block;       
                    width: 100%;
                    height: 250px;
                    object-fit: cover;    
                }

                p {
                    text-align: center;
                    margin: 0;
                    padding: 8px;
                }

                &:hover {
                    transform: scale(1.1);
                    transition: 0.5s;
                }
            }
        }
    }

    .Background {
        width: 100%;
        background-color: whitesmoke;
        padding: 64px 0;

        section {
            margin: 0 10%;

            p {
                text-align: center;
            }
        }
    }
}