.Home-Page {
    .Banner-Container {
        height: calc(100vh - $HeaderSize);
        background-image: url("../../Images/Banners/Home.jpg");
        position: relative;

        //Contact button
        .Convencional-Button {
            width: 200px;
            margin-top: 0;       
            box-shadow: 0 0 50px black;
        }

        //Text slider on bottom of the banner
        .Slider {
            position: absolute;
            background-color: rgba(black, 0.5);
            backdrop-filter: blur(5px);                        
            
            padding: 16px 0; 
            left: 0;
            bottom: 0;
            
            //Appearance of slider items
            .Items-Container {
                li {
                    padding: 0 20%;
                }

                p {        
                    display: flex;
                    height: 100%;
                    font-size: 1.3rem;
                    text-align: justify;
                    color: white;
                    
                    text-align-last: center;
                    justify-content: center;
                    align-items: center;
                }
            }

            .Dot-Menu {
                display: none;
            }
        }
    }   
       
    //What services we offer section
    .Services {
        .Grid-Wrap {
            margin-top: 64px;
    
            //Set styles to the first childs if gallery has a card class too
            &.Image-Card>div {
                position: relative;
                border-radius: $MinRadius;
                box-shadow: 0 0 30px $Shadow;
                overflow: hidden;
                transition: 0.5s;                                  
    
                img {             
                    display: block;       
                    width: 100%;
                    height: 300px;
                    object-fit: cover;    
                }
    
                //Service info overlay container
                div {
                    width: 100%;
                    height: 300px;
                    justify-content: space-between;
                    background-color: black;
                    position: absolute;
                    transform: translateY(250px);
                    transition: 0.5s;
    
                    p {
                        color: white;
                        padding: 8px;
                    }
    
                    ul {
                        text-align: left;
                        list-style:disc;
    
                        li {
                            color: white;
                            font-size: 1rem;
                        }
                    }
    
                    .Convencional-Button {
                        width: 200px;
                    }
                }
    
                //Increase size of card and elevate the info overlay to be seen
                &:hover {
                    transform: scale(1.1);
                    transition: 0.5s;
    
                    div {
                        transform: translateY(0);
                        background-color: rgba(black, 0.5);
                        transition: 0.5s;
                    }
                }
            }
        }
    }

    .Services-Info {
        article {
            padding: 0 64px;
        }
    }

    .WhyChooseUs {
        .Grid-Gallery {
            margin-top: 64px;
        }
    }
    
    .OurClients {
        text-align: center;

        p{
            color: $PrimaryColor;
        }

        img {
            width: 200px;
        }
    }
    

    .Background {
        width: 100%;
        background-color: whitesmoke;
        padding: 64px 0;

        section {
            margin: 0 10%;

            p {
                text-align: center;
            }
        }
    }
}