main {
    min-height: calc(100vh - $HeaderSize);
    max-width: 1280px;
    margin: 64px 10%;
} 

//Class to center elements in the container
.Centered-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

//Class to fit the image to the banner container
.Banner-Container {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}  

section {
    margin-bottom: 5rem;

    article {
        text-align: justify;
    }
}

p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

button {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background-color: orange;
    padding: 1rem 2rem;
    border-style: none;
    border-radius: 8px;
    box-shadow: 0px 6px rgb(184, 116, 26);
    user-select: none;
    cursor: pointer;

    &:active {
        transform: translateY(6px);
        box-shadow: 0px 0px;  
    }
}

//Class for a card container with responsive grid layout and even spacing
.Cards-Container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-flow: dense;
    gap: 30px;
    
    &.Simple-Cards {
        div {
            position: relative;
            height: auto;
            background-color: $White;
            text-align: center;
            border-radius: 10px;
            padding: 30px;
            box-shadow: 0 0 30px $Shadow;
            transition: 0.3s;
            align-items: center;
            justify-content: center;
    
            &:hover {
                transform: translateY(-20px);
                transition: 0.3s;
            }
    
            .Title {
                font-size: 2rem;
            }
        }
    }




    .Cards-Icon {
        display: block;
        position: absolute;
        background-color: orange;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        top: -32px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.Header-Spacing {
    height: $HeaderSize;
}